.nav {
  width: 100%;
  background: #fcfcfc;
  padding: 20px 50px;
  border-top: 1px solid #fcfcfc;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #2f363e;
}

.nav .nav__list {
  display: flex;
  justify-content: space-around;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  background: #eb5e40;
  color: white;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 10px;
}